<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">

</head>
<body>
{{>header}}
<p>{{helpText}}</p>
{{>footer}}
</body>
</html>